{% extends 'base.html.twig' %}
{% block servList %}

    <div class="wrap-box">
        <div class="">
            <div class="box-block">
                <img src="/assets/img/icons/ortop.png" alt="" class="box-img ">

            </div>
            <div class="box-text">ИПП (Приём/консультация врача-стоматолога-ортопеда)
            </div>

        </div>
        <div class="box-prise">Цена: 100 (цена за единицу)</div>
    </div>
    
{% endblock %}